{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Proxima</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="theme-color" content="#000">

  <!-- <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png" sizes="180x180"> -->
  <!-- <link rel="icon" href="img/favicon/favicon-32x32.png" sizes="32x32" type="image/png"> -->
  <!-- <link rel="icon" href="img/favicon/favicon-16x16.png" sizes="16x16" type="image/png"> -->
  <!-- <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon"> -->

  <!-- <link rel="stylesheet" href="css/main-first.min.css">	 -->
  <link rel="stylesheet" href="{% static 'css/main.min.css'%}">
</head>
<body>
  {% include 'pages/blocks/metrika.html'%}
  <div id="site">
    {% include 'pages/blocks/header.html'%}
    <main class="main">
      <section class="title_block" style="background-image: url( {% static 'img/upload/banner-career.jpg' %} )">
        <div class="container container-narrow title_block__container">
          <h1 class="title_common title_common-bg">
            Карьера <br class="to-sm">в Proxima<br>
            Capital Group
          </h1>
        </div>
      </section>
      <section class="career">
        <h2 class="title-hidden">
          Карьера
        </h2>
        <div class="container container-narrow">
          <p class="career__description">
            <b class="colored">Proxima Capital Group</b> всегда  <br class="to-xs">открыта
            новым идеям и новым людям
          </p>
          <ul class="rst career__items">
            <li class="career__item">
              <div class="career__img" style="background-image: url({% static 'img/upload/career/spec.jpg'%});"></div>
              <h2 class="career__title">
                Специалистам
              </h2>
              <p class="career__text">
                Если вы специалист в своей области и желаете присоединиться к команде профессионалов Proxima Capital Group,<br>
                вы можете направить нам свое резюме
              </p>
              <a class="career__link open-fullscreen-modal" href="#modal_specialist">
                Отправить резюме
              </a>
            </li>
            <li class="career__item">
              <div class="career__img" style="background-image: url( {% static 'img/upload/career/stud.jpg
              %});"></div>
              <h2 class="career__title">
                Студентам
              </h2>
              <p class="career__text">
                Если вы студент старших курсов или выпускник ВУЗа и желаете пройти практику
                в&nbsp;Proxima Capital Group, направьте, пожалуйста, информацию о себе, и мы свяжемся с вами.
              </p>
              <a class="career__link open-fullscreen-modal" href="#modal_student">
                Отправить резюме
              </a>
            </li>
          </ul>
        </div>
      </section>
    </main>
    {% include 'pages/blocks/footer.html'%}
  </div>  <!--id site-->
  {% include 'pages/blocks/fixed_menu.html'%}
  {% include 'pages/blocks/modals.html'%}
  <script src="{% static 'js/scripts.min.js' %}"></script>
</body>
</html>
