<div class="fixed_menu">
  <div class="fixed_menu__overlay"></div>
  <div class="fixed_menu__content">
    <button class="btn btn_close fixed_menu__close">
      close
    </button>
    <ul class="rst fixed_menu__langs">
      <li>
        <a class="fixed_menu__lang" href="#">
          RU
        </a>
      </li>
      <li>
        <a class="fixed_menu__lang fixed_menu__lang-active" href="#">
          EN
        </a>
      </li>
    </ul>
    <nav class="fixed_menu__navigation">
      <ul class="rst fixed_menu__menu menu_vert">
        <li class="menu_vert__item-childed">
          <div class="menu_vert__group">
            <a class="smooth_scroll" href="about.html">
              О группе
            </a>
            <button class="btn btn_menu_vert menu_vert__more">
              more
            </button>
          </div>
          <ul class="rst menu_vert__sec_menu">
            <li>
              <a class="smooth_scroll" href="/#about">
                О нас
              </a>
            </li>
            <li>
              <a class="smooth_scroll" href="/#team">
                Команда
              </a>
            </li>
            <li>
              <a class="smooth_scroll" href="/#career">
                Карьера
              </a>
            </li>
          </ul>
        </li>
        <li class="menu_vert__item-childed">
          <div class="menu_vert__group">
            <a class="" href="consulting.html">
              Консалтинговые услуги
            </a>
            <button class="btn btn_menu_vert menu_vert__more">
              more
            </button>
          </div>
          <ul class="rst menu_vert__sec_menu">
            <li>
              <a class="smooth_scroll" href="consulting.html#invest">
                Инвестиционно - банковские услуги
              </a>
            </li>
            <li>
              <a class="smooth_scroll" href="consulting.html#problems">
                Проблемные активы
                и&nbsp;задолженность
              </a>
            </li>
            <li>
              <a class="smooth_scroll" href="consulting.html#closed">
                Закрытые сделки
              </a>
            </li>
          </ul>
        </li>
        <li class="menu_vert__item-childed">
          <div class="menu_vert__group">
            <a href="invest.html">
              Собственные инвестиции
            </a>
            <button class="btn btn_menu_vert menu_vert__more">
              more
            </button>
          </div>
          <ul class="rst menu_vert__sec_menu">
            <li>
              <a href="#">
                Инвестиционный подход
              </a>
            </li>
            <li>
              <a href="active.html">
                Портфельные компании
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="news.html">
            Новости
          </a>
        </li>
        <li>
          <a href="contacts.html">
            Контакты
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
