<div id="modals" class="modals">
	<div id="modal_suc" class="modal_suc">

	</div>
	<div id="modal_specialist" class="modal_vacancy">
    <h2 class="modal_vacancy__title">
      Мы рады видеть в своей команде профессиона&shy;лов высокого уровня
    </h2>
    <form class="modal_vacancy__form">
      <input class="modal_vacancy__input input" type="text" placeholder="ФИО">
      <input class="modal_vacancy__input input" type="text" placeholder="E-mail">
      <div class="modal_vacancy__dnd dnd">
        <input class="dnd__file" type="file"  accept=".doc,.docx,.rtf,.txt,.pdf" required>
        <div class="dnd__empty">
          <p class="dnd__desc">
            <span class="to-sm">Резюме <br>(нажмите для загрузки)</span>
            <span class="from-sm">Резюме (нажмите или перенесите файл)</span>
          </p>
          <p class="dnd__rules">
            Допустимые форматы: <br class="to-sm">doc, docx, rtf, txt, pdf<br>
            Максимальный объем файла: 5 Mb
          </p>
        </div>
        <div class="dnd__loaded">
          <p class="dnd__filename">
            <span class="dnd__filename_value">Резюме_ Иван_Иванович_Иванов.pdf</span>
            <button class="dnd__btn_clear btn btn_clear" type="button">
              clear
            </button>
          </p>
          <p class="dnd__status">
            Файл успешно загружен
          </p>
        </div>
      </div>
      <label class="modal_vacancy__checkbox custom_checkbox">
        <input class="custom_checkbox__input" type="checkbox">
        <span class="custom_checkbox__fake">
          Нажимая кнопку Отправить резюме, я даю согласие на обработку моих персональных данных.
        </span>
      </label>
      <button class="modal_vacancy__btn btn btn_send">
        Отправить резюме
      </button>
    </form>
    <div class="modal_vacancy__footer">
      <div class="copyright footer__copyright">
        &copy; Proxima Capital Group
      </div>
      <a class="creator" href="#">
        <b>Redis</b> — создание сайта
      </a>
    </div>
	</div>
  <div id="modal_student" class="modal_vacancy">
    <h2 class="modal_vacancy__title">
      Мы рады видеть в своей команде профессиона&shy;лов высокого уровня
    </h2>
    <form class="modal_vacancy__form modal_vacancy__form-mb">
      <input class="modal_vacancy__input input" type="text" placeholder="ФИО">
      <input class="modal_vacancy__input input" type="text" placeholder="E-mail">
      <div class="modal_vacancy__dnd dnd">
        <input class="dnd__file" type="file"  accept=".doc,.docx,.rtf,.txt,.pdf" required>
        <div class="dnd__empty">
          <p class="dnd__desc">
            <span class="to-sm">Резюме <br>(нажмите для загрузки)</span>
            <span class="from-sm">Резюме (нажмите или перенесите файл)</span>
          </p>
          <p class="dnd__rules">
            Допустимые форматы: <br class="to-sm">doc, docx, rtf, txt, pdf<br>
            Максимальный объем файла: 5 Mb
          </p>
        </div>
        <div class="dnd__loaded">
          <p class="dnd__filename">
            <span class="dnd__filename_value">Резюме_ Иван_Иванович_Иванов.pdf</span>
            <button class="dnd__btn_clear btn btn_clear" type="button">
              clear
            </button>
          </p>
          <p class="dnd__status">
            Файл успешно загружен
          </p>
        </div>
      </div>
      <label class="modal_vacancy__checkbox custom_checkbox">
        <input class="custom_checkbox__input" type="checkbox">
        <span class="custom_checkbox__fake">
          Нажимая кнопку Отправить резюме, я даю согласие на обработку моих персональных данных.
        </span>
      </label>
      <button class="modal_vacancy__btn btn btn_send">
        Отправить резюме
      </button>
    </form>
    <div class="modal_vacancy__lists mv_lists">
      <h2 class="title_default mv_lists__title">
        Наши преимущества
      </h2>
      <ul class="rst list_custom mv_lists__list">
        <li>
          Гибкий рабочий график: полный или неполный рабочий день
        </li>
        <li>
          Оплачиваемая стажировка в одной из ведущих российских компаний‚ работающей в сфере
          инвестиций и бизнес-консалтинга
        </li>
        <li>
          Помощь в разработке и ведении проекта в рамках стажировки
        </li>
      </ul>
      <h2 class="title_default mv_lists__title">
        Основные требования
      </h2>
      <ul class="rst list_custom mv_lists__list">
        <li>
          Выпускник или студент старших курсов ВУЗа
        </li>
        <li>
          Знания в области инвестиций и финансов на уровне выпускника профильной программы
        </li>
        <li>
          Свободное знание английского языка
        </li>
        <li>
          Коммуникабельность, ответственность, умение работать в команде
        </li>
        <li>
          Высокий уровень мотивации и целеустремлённость
        </li>
      </ul>
    </div>
    <div class="modal_vacancy__footer">
      <div class="copyright footer__copyright">
        &copy; Proxima Capital Group
      </div>
      <a class="creator" href="#">
        <b>Redis</b> — создание сайта
      </a>
    </div>
	</div>
</div>
