{% load i18n %}
<div class="popup js-popup form-popup" data-popup="form">
  <div class="popup_wrapper">
    <div class="popup_content wrapper">
      <div class="popup_close js-close">{% include 'close.svg' %}</div>
      <p class="popup_text">{% trans "Мы рады видеть в своей команде профессионалов высокого уровня" %}</p>
      <form class="popup_form" id="form_resume" data-type="">
        <input class="popup_input" id="name" required name="name" type="text" placeholder="{% trans 'ФИО' %}" />
        <input class="popup_input" id="email" required name="email" type="email" placeholder="E-mail" />
        <input class="popup_input-file" name="file" type="file" />
        <div class="popup_file">
          <div class="popup_file-icon">{% include 'file.svg' %}</div>
          <div class="start">
            <h5 class="popup_file-title">{% trans "Резюме (нажмите или перенесите файл)" %}</h5>
            <h5 class="popup_file-title mobile">{% trans "Прикрепить Резюме" %}</h5>
            <p class="popup_file-text">{% trans "Допустимые форматы:" %}<br class="mobile"/> doc, docx, rtf, txt, pdf <br />{% trans "Максимальный объем файла:" %} 5 Mb</p>
          </div>
          <div class="popup_plus">+</div>
          <div class="popup_result">
            <h5 class="popup_file-title"></h5>
            <div class="popup_file-reset">{% include 'close.svg' %}</div>
            <p class="popup_file-text">{% trans "Файл успешно загружен" %}</p>
          </div>
        </div>
        <input type="checkbox" required id="personal" name="personal" class="popup_checkbox" />
        <label class="popup_checkbox-icon" for="personal"><span>{% include 'check.svg' %}</span></label>
        <label class="popup_checkbox-text" for="personal">{% trans "Нажимая кнопку Отправить, я даю согласие на обработку моих персональных данных." %}</label>
        <button class="button popup_button submit_button" type="submit">{% trans "Отправить" %}<span>{% include 'arrow.svg' %}</span></button>
        <p class="popup_form-error">{% trans "Для отправки формы необходимо заполнить обязательные поля" %}</p>
      </form>
      <div class="js-trigger form_ok" data-popup="form_ok" style="display: none"></div>
    </div>
  </div>
</div>
