// colors

$red: #e1231a;
$black: #323232;

// fonts
$regular: 'FuturaBook', sans-serif;
$bold: 'FuturaDemi', sans-serif;
$medium: 'FuturaMedium', sans-serif;




// adaptive
$tablet: 1025px;
$phone: 641px;
